<%= render "header", title: "Contacts", count_label: "Count" %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Phone</th>
      <th>Actions
      </th>
    </tr>
  </thead>
   <%= svelte_component("ContactList", {contacts: @contacts}, tag: "tbody") %>
</table>

<%= svelte_component("NewContactButton") %>
